<!DOCTYPE html>
<html>

<head>
  <title>Covid</title>

  <!-- <link rel="icon" href="https://storage.googleapis.com/portfolio_django_web_perso/icons8-film-96.png"/> -->
{% block title %}{% endblock %}
{% load static %}

<script src="https://cdn.tailwindcss.com"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static link_css %}">

</head>

<body class="relative">

<div class="fixed inset-0  overflow-auto h-screen">

    {% block content %}{% endblock %}
    
    </div>

</body>